* {
     margin: 0; 
    box-sizing: border-box; 
    
}



    
.container{
    width: 90%;
    margin: auto;
    height: 40vh;
}


   .main-header_items select {
    border: none;
    gap: 90px;
   }


   .main-header_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

   }

  

 .main-header_item  {
    list-style: none;
 }
 .main-header_item a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
 }

 


    

/* start */
.main-start {
    display: flex;
    justify-content: space-between;
}

.main-start_title h3 {
    font-family: sans-serif;
 font-weight: 400;
font-size: 40px;
line-height: 52px;
}
.btn {
 width: 160px;
height: 48px;
 background: #F46A35;
border: 1px solid #F46A35;
border-radius: 10px;
}

.button {
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 10px;
}

   
    
    .title h1 {
font-weight: 400;
font-size: 18px;
line-height: 20px;
    }
    
    .title p {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

    .title-a {
     border: none;
    color: #F46A35;
    text-decoration: none;
    }

.first-title {
    padding-bottom: 40px;
}




    
/* start */


/* images */

.images img {
    
    padding-top: 300px;
}

.images {
    display: flex;
    justify-content: space-between;
}
/* images */