* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  width: 90%;
  margin: auto;
}

.header {
  height: 50px;
  padding: 5px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header_items select {
  border: none;
  gap: 90px;
}

.main-header_items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-header_item {
  list-style: none;
}
.main-header_item a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

/* start */
.main-start {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.main-start_title {
  padding-top: 150px;
}

.main-start_title h3 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}
.btn {
  padding: 10px 15px;
  background: #f46a35;
  border: 1px solid #f46a35;
  border-radius: 10px;
  cursor: pointer;
}

.button {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.title h1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.title p {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.title-a {
  border: none;
  color: #f46a35;
  text-decoration: none;
}

.first-title {
  padding-bottom: 40px;
}

/* .main-start-img img {
  width: 100%;
} */

/* start */

/* images */

.images img {
  width: 100px;
  padding: 100px 0;
}

.images {
  display: flex;
  justify-content: space-between;
}
/* images */
